
<div class="hold-transition login-page" style="    background-image: url('assets/imgs/bg1.jpg'); /* Replace with your image path */
background-size: cover; /* Covers the entire background */
background-position: center; /* Centers the image */
display: flex;
justify-content: center;
align-items: center;
">

    <div class="login-box glass" >

        <!-- /.login-logo -->
        <div class="glass">
          <div class=" login-card-body">
            <div class="login-logo">
              <a> Welcome to Parlor  </a>
            </div>
            <form  (ngSubmit)="submit()">
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">

                <!-- /.col -->
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-block rounded-pill">Sign In</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
        </div>
      </div>

</div>
