<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header header-bg">
              <h3 class="card-title">User Management</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form (submit)="addUser()" class="form-inline">
                <input type="text" [(ngModel)]="newUser.name" name="name" placeholder="Name" class="form-control mr-2"
                  required />
                <input type="text" [(ngModel)]="newUser.email" name="email" placeholder="Email"
                  class="form-control mr-2" required />
                <input type="text" [(ngModel)]="newUser.role" name="role" placeholder="Role" class="form-control mr-2"
                  required />
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Reset</button>
                
              </form>

              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Users List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <table class="table table-bordered table-hover mt-3">
                <thead>
                  <tr>
                    <th>Fullname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created On</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.createdOn }}</td>
                    <td>
                      <i class="fas fa-edit text-primary mr-2" (click)="editUser(i)" title="Edit"></i>
                      <i class="fas fa-trash text-danger" (click)="deleteUser(i)" title="Delete"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>