:host {
  display: block;
}

.header-bg {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border-top-left-radius: 0.25rem; /* Rounded corners */
  border-top-right-radius: 0.25rem; /* Rounded corners */
  padding: 10px;
  // margin-top: 2%;
}

.form-control {
  margin-bottom: 10px;
}

.btn-danger {
  margin-left: 5px;
}

.table {
  margin-top: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  margin-top: 2%;
}